$primary_color: #045b62;
$primary_color_dark: #02393e;

$border-color: #ccc;

$info-cell-width: 40px;


$header-height: 63px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;

$cell-width: 120px;