
.excel__toolbar{
  height: $toolbar-height;
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  padding: 1px 15px;
  display: flex;

  button{
    @include iconButton($primary_color);
  }
}
